@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./abstracts/variables";
@import "./base/base";

// .dropdown-menu.show {
//   display: block !important;
// }

#list {
  padding: 8px 12px;
  color: #9b9b9b;
  border: none;
  cursor: pointer;
}
