<section id="movies" class="mt-20">
  <div class="w-full">
    <div class="w-235 mx-auto">
      <div class="w-full relative h-12 mb-2">
        <div
          class="nav tab tab-movie absolute inline-block top-0 left-1/2 transform -translate-x-1/2"
          id="nav-tab"
          role="tablist"
        >
          <a
            href="#dang-chieu"
            class="tab-item active mx-4 font-semibold inline-block transition-all duration-150 text-xl hover:text-2xl"
            data-toggle="tab"
            id="dangChieu"
            role="tab"
            aria-controls="dang-chieu"
            aria-selected="true"
            >Đang chiếu</a
          >
          <a
            href="#sap-chieu"
            class="tab-item mx-4 font-semibold inline-block transition-all duration-150 text-xl hover:text-2xl"
            data-toggle="tab"
            id="sapChieu"
            role="tab"
            aria-controls="sap-chieu"
            aria-selected="false"
            >Sắp chiếu</a
          >
        </div>
      </div>
      <div class="w-full tab-content" id="nav-tabContent">
        <div
          class="tab-pane hidden show active opacity-0 transition-all duration-150 w-full"
          id="dang-chieu"
          role="tabpanel"
          aria-labelledby="dangChieu"
        >
          <div class="owl-carousel py-6 w-full relative">
            <div include-html="sections/movies/carousel-item.html"></div>
            <div include-html="sections/movies/carousel-item.html"></div>
            <div include-html="sections/movies/carousel-item.html"></div>
          </div>
        </div>
        <div
          class="tab-pane hidden show opacity-0 transition-all duration-150 w-full"
          id="sap-chieu"
          role="tabpanel"
          aria-labelledby="sapChieu"
        >
          <div class="owl-carousel py-6 w-full relative">
            <div include-html="sections/movies/carousel-item.html"></div>
            <div include-html="sections/movies/carousel-item.html"></div>
            <div include-html="sections/movies/carousel-item.html"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
